<a href="https://colab.research.google.com/github/mrutherfoord/portfolio/blob/master/PRESCO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Tracking Study Participants by HotSpot**

Since zip codes have different populations, I decided to show hotspots by calulating the number of cases per capita.

In [ ]:
import pandas as pd

In [ ]:
# Data pulled from the city of Chicago database
df = pd.read_csv("COVID-19_Cases__Tests__and_Deaths_by_ZIP_Code.csv")

In [ ]:
df.head()

  ZIP Code  Week Number  ...      Row ID             ZIP Code Location
0  Unknown           10  ...  Unknown-10                           NaN
1  Unknown           11  ...  Unknown-11                           NaN
2    60613           28  ...    60613-28  POINT (-87.661343 41.953742)
3    60613           29  ...    60613-29  POINT (-87.661343 41.953742)
4    60613           30  ...    60613-30  POINT (-87.661343 41.953742)

[5 rows x 21 columns]

In [ ]:
# Calculated total cases per zip code by summing the cases per week.
df_by_zip = df.groupby("ZIP Code")["Cases - Weekly"].sum().to_frame()

In [ ]:
df_by_zip

          Cases - Weekly
ZIP Code
60601              318.0
60602               31.0
60603               14.0
60604               35.0
60605              613.0
60606              102.0
60607             1030.0
60608             3460.0
60609             3260.0
60610             1068.0
60611              738.0
60612             1286.0
60613             1261.0
60614             1785.0
60615              826.0
60616             1224.0
60617             3004.0
60618             3118.0
60619             1764.0
60620             2139.0
60621              921.0
60622             1734.0
60623             5524.0
60624             1456.0
60625             2885.0
60626             1765.0
60628             2153.0
60629             7313.0
60630             1947.0
60631              967.0
60632             6164.0
60633              529.0
60634             3626.0
60636             1334.0
60637             1184.0
60638             3068.0
60639             6140.0
60640             1673.0
60641             3454.0
60642              610.0
60643             1668.0
60644             1916.0
60645             1814.0
60646              833.0
60647             3212.0
60649             1394.0
60651             3187.0
60652             2265.0
60653              992.0
60654              612.0
60655             1086.0
60656              975.0
60657             1570.0
60659             1466.0
60660             1012.0
60661              268.0
60666                0.0
60707              835.0
60827              129.0
Unknown            574.0

In [ ]:
#get list of zip codes
unique_zip = df.drop_duplicates(subset="ZIP Code", keep="last")

In [ ]:
# make dataframe with zip codes and population
pop = unique_zip[["ZIP Code", "Population"]]

In [ ]:
pop.head()

     ZIP Code  Population
1163    60623       85979
1191    60619       61258
1230    60617       82534
1250    60629      111850
1280    60610       39019

Making small changes to end up with a dataframe that contains zip codes, total number of cases per zip, population of each zip, and how many cases in a zip code per 100 people.

In [ ]:
pop.set_index("ZIP Code", inplace=True)

In [ ]:
df_final = pd.merge(pop, df_by_zip, left_index=True, right_index=True)

In [ ]:
df_final['zip'] = df_final.index

In [ ]:
df_final = df_final.reset_index(drop=True)

In [ ]:
df_final['per_capita'] = df_final['Cases - Weekly'] / df_final['Population'] * 100

In [ ]:
df_final

    Population  Cases - Weekly      zip  per_capita
0        14675           318.0    60601    2.166951
1         1244            31.0    60602    2.491961
2         1174            14.0    60603    1.192504
3          782            35.0    60604    4.475703
4        27519           613.0    60605    2.227552
5         3101           102.0    60606    3.289262
6        29591          1030.0    60607    3.480788
7        79205          3460.0    60608    4.368411
8        61495          3260.0    60609    5.301244
9        39019          1068.0    60610    2.737128
10       32426           738.0    60611    2.275951
11       34311          1286.0    60612    3.748069
12       50113          1261.0    60613    2.516313
13       71308          1785.0    60614    2.503225
14       41563           826.0    60615    1.987345
15       54464          1224.0    60616    2.247356
16       82534          3004.0    60617    3.639712
17       94395          3118.0    60618    3.303141
18       61258          1764.0    60619    2.879624
19       68096          2139.0    60620    3.141154
20       29042           921.0    60621    3.171269
21       52793          1734.0    60622    3.284526
22       85979          5524.0    60623    6.424825
23       36158          1456.0    60624    4.026771
24       79243          2885.0    60625    3.640700
25       49730          1765.0    60626    3.549165
26       66724          2153.0    60628    3.226725
27      111850          7313.0    60629    6.538221
28       57344          1947.0    60630    3.395299
29       29529           967.0    60631    3.274747
30       91039          6164.0    60632    6.770725
31       12871           529.0    60633    4.110015
32       75995          3626.0    60634    4.771367
33       32203          1334.0    60636    4.142471
34       47454          1184.0    60637    2.495048
35       58797          3068.0    60638    5.217953
36       90517          6140.0    60639    6.783256
37       69715          1673.0    60640    2.399770
38       71023          3454.0    60641    4.863213
39       20201           610.0    60642    3.019652
40       49870          1668.0    60643    3.344696
41       47712          1916.0    60644    4.015761
42       47732          1814.0    60645    3.800385
43       27987           833.0    60646    2.976382
44       87509          3212.0    60647    3.670480
45       46024          1394.0    60649    3.028855
46       63218          3187.0    60651    5.041286
47       43907          2265.0    60652    5.158631
48       31972           992.0    60653    3.102715
49       19135           612.0    60654    3.198328
50       28804          1086.0    60655    3.770310
51       27579           975.0    60656    3.535299
52       70052          1570.0    60657    2.241192
53       41068          1466.0    60659    3.569689
54       43242          1012.0    60660    2.340317
55        9926           268.0    60661    2.699980
56           0             0.0    60666         NaN
57       43019           835.0    60707    1.941003
58       28577           129.0    60827    0.451412
59           0           574.0  Unknown         inf

In [ ]:
df_final['per_capita'] = df_final['per_capita'].fillna(0)

In [ ]:
# final dataframe to import to Tableau
df_final.to_csv("COVID_hotspots_per_capita.csv")

#**Tracking Participants Through the Study**

In [46]:
import pandas as pd
import numpy as np

In [47]:
cases = pd.read_csv("PRESCO data.csv")

In [48]:
cases = cases.fillna(0)

In [49]:
cases.head()

   record_id  pt_zipcode  ...     v5_ehr_data_status v5_entry_dt
0          3     60619.0  ...                      0           0
1          4     60616.0  ...  Partial (In progress)           0
2          5     60651.0  ...                      0           0
3          6     60636.0  ...                      0           0
4          7         0.0  ...                      0           0

[5 rows x 46 columns]

In [50]:
print(cases['hospAdmitYn_V1'].value_counts())
print(cases['v3_status'].value_counts())

Yes    51
No      7
Name: hospAdmitYn_V1, dtype: int64
Not applicable    48
0                  6
Completed          4
Name: v3_status, dtype: int64

In [51]:
# add participant type based on conditions.


conditions = [(cases['hospAdmitYn_V1'] == 'No'), # Ambulatory
              (cases['hospAdmitYn_V1'] == 'Yes') & (cases['v3_status'] == 'Completed'), # Progressor
              ((cases['hospAdmitYn_V1'] == 'Yes') & (cases['v3_status'] == 'Not applicable')) |
              ((cases['hospAdmitYn_V1'] == 'Yes') & (cases['v3_status'] == 0))]  # Non-Progressor

# create a list of the values we want to assign for each condition
values = ['Ambulatory', 'Progressor', 'Non-Progressor']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['participant_type'] = np.select(conditions, values)

# display updated DataFrame
print(cases['participant_type'].value_counts())

Non-Progressor    47
Ambulatory         7
Progressor         4
Name: participant_type, dtype: int64

# Study Visit 1

In [190]:
# Status 1 complete based on conditions

conditions = [((cases['v1_status'] == 'Completed') & (cases['v1_biospecimen_dt'] != 0)) |
              ((cases['v1_status'] == 'Completed, but missed biospecimen collection') & (cases['v1_biospecimen_dt'] != 0)) |
              ((cases['v1_status'] == 0) & (cases['v1_biospecimen_dt'] != 0) & (cases['v1_samples_process_dt'] != 0)
              & (cases['v1_specimen_ship_dt'] != 0) & (cases['v1_entry_dt'] != 0)) |
              ((cases['v1_status'] == 'Completed') & (cases['v1_biospecimen_dt'] == 0)), # Complete
              ((cases['v1_status'] == 'Completed, but missed biospecimen collection') & (cases['v1_biospecimen_dt'] == 0)), # Complete, no specimen
              (cases['v1_status'] == 0) & (cases['v1_biospecimen_dt'] == 0)] # Pending

# create a list of the values we want to assign for each condition
values = ['Complete', 'Complete, no specimen', 'Pending']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v1_stat'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v1_stat'].value_counts())

Complete                 53
Pending                   3
Complete, no specimen     2
Name: v1_stat, dtype: int64

In [191]:
# V1 Biospecimen Collected
conditions = [(cases['v1_biospecimen_dt'] != 0) & (cases['v1_stat'] == 'Complete'),
              (cases['v1_biospecimen_dt'] == 0) & (cases['v1_stat'] == 'Complete, no specimen'),
              (cases['v1_biospecimen_dt'] == 0) & (cases['v1_stat'] == 'Complete'),
              (cases['v1_biospecimen_dt'] == 0) & (cases['v1_stat'] == 'Pending')]      

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v1_biospecimen_collected'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v1_biospecimen_collected'].value_counts())

Yes        52
Unknown     3
No          2
Pending     1
Name: v1_biospecimen_collected, dtype: int64

In [192]:
# V1 Biospecimen Processed
conditions = [(cases['v1_samples_process_dt'] != 0) & (cases['v1_stat'] == 'Complete'),
              (cases['v1_samples_process_dt'] == 0) & (cases['v1_stat'] == 'Complete, no specimen'),
              (cases['v1_samples_process_dt'] == 0) & (cases['v1_stat'] == 'Complete'),
              (cases['v1_samples_process_dt'] == 0) & (cases['v1_stat'] == 'Pending')]

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v1_biospecimen_processed'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v1_biospecimen_processed'].value_counts())

Yes        51
Unknown     3
No          2
Pending     2
Name: v1_biospecimen_processed, dtype: int64

In [193]:
# V1 Biospecimen Shipped
conditions = [(cases['v1_specimen_ship_dt'] != 0) & (cases['v1_stat'] == 'Complete'),
              (cases['v1_specimen_ship_dt'] == 0) & (cases['v1_stat'] == 'Complete, no specimen'),
              (cases['v1_specimen_ship_dt'] == 0) & (cases['v1_stat'] == 'Complete'),
              (cases['v1_specimen_ship_dt'] == 0) & (cases['v1_stat'] == 'Pending')]

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v1_biospecimen_shipped'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v1_biospecimen_shipped'].value_counts())

Yes        51
Unknown     3
No          2
Pending     2
Name: v1_biospecimen_shipped, dtype: int64

In [194]:
# check value counts for v1 EHR entry
cases['v1_ehr_data_status'].value_counts()

Yes (Complete)           55
Partial (In progress)     3
Name: v1_ehr_data_status, dtype: int64

In [195]:
cases['v1_ehr'] = np.where(cases['v1_ehr_data_status'] == 'Yes (Complete)', 'Complete', 'Partial')
cases['v1_ehr'].value_counts()

Complete    55
Partial      3
Name: v1_ehr, dtype: int64

In [198]:
# creating v1 dataframe which will be merged with dataframes from other study visits 
v1_df = cases[['record_id', 'participant_type', 'v1_stat', 'v1_biospecimen_collected', 'v1_biospecimen_processed',
               'v1_biospecimen_shipped', 'v1_ehr']].copy()

v1_df['study_visit'] = 1

v1_df = v1_df.rename(columns={'v1_stat':'study_status', 'v1_biospecimen_collected':'biospecimen_collected',
                              'v1_biospecimen_processed':'biospecimen_processed', 'v1_biospecimen_shipped':'biospecimen_shipped',
                              'v1_ehr':'ehr'})

In [199]:
v1_df.head()

   record_id participant_type  ...       ehr study_visit
0          3   Non-Progressor  ...  Complete           1
1          4   Non-Progressor  ...  Complete           1
2          5   Non-Progressor  ...  Complete           1
3          6   Non-Progressor  ...  Complete           1
4          7       Progressor  ...  Complete           1

[5 rows x 8 columns]

# Study Visit 2

In [60]:
# v2 status value counts
cases['v2_status'].value_counts()

Not applicable                                  33
Completed                                       14
0                                                7
Completed, but missed biospecimen collection     4
Name: v2_status, dtype: int64

In [61]:
# Status 2 complete based on conditions

conditions = [((cases['v2_status'] == 'Completed') & (cases['v2_biospecimen_dt'] != 0)) |
              ((cases['v2_status'] == 'Completed, but missed biospecimen collection') & (cases['v2_biospecimen_dt'] != 0)) |
              ((cases['v2_status'] == 0) & (cases['v2_biospecimen_dt'] != 0) & (cases['v2_samples_process_dt'] != 0)
              & (cases['v2_specimen_ship_dt'] != 0) & (cases['v2_entry_dt'] != 0)) |
              ((cases['v2_status'] == 'Completed') & (cases['v2_biospecimen_dt'] == 0)), # Complete
              ((cases['v2_status'] == 'Completed, but missed biospecimen collection') & (cases['v2_biospecimen_dt'] == 0)), # Complete, no specimen
              (cases['v2_status'] == 0) & ((cases['v2_biospecimen_dt'] == 0) | (cases['v2_samples_process_dt'] == 0) | 
                                           (cases['v2_specimen_ship_dt'] == 0) | (cases['v2_entry_dt'] == 0)), # Pending
              ((cases['v2_status'] == 'Not applicable')) & (cases['v2_biospecimen_dt'] == 0)] # Not Applicable

# create a list of the values we want to assign for each condition
values = ['Complete', 'Complete, no specimen', 'Pending', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v2_stat'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v2_stat'].value_counts())

Not Applicable           33
Complete                 14
Pending                   7
Complete, no specimen     4
Name: v2_stat, dtype: int64

In [62]:
# biospecimen collected value counts
cases['v2_biospecimen_dt'].value_counts()

0             43
9/25/2020      4
6/5/2020       3
7/21/2020      1
8/26/2020      1
10/7/2020      1
7/23/2020      1
10/16/2020     1
9/18/2020      1
9/3/2020       1
10/22/2020     1
Name: v2_biospecimen_dt, dtype: int64

In [63]:
# V2 Biospecimen Collected
conditions = [((cases['v2_biospecimen_dt'] != 0) & (cases['v2_stat'] == 'Complete')) |
              ((cases['v2_biospecimen_dt'] != 0) & (cases['v2_stat'] == 'Pending')), # Yes
              (cases['v2_biospecimen_dt'] == 0) & (cases['v2_stat'] == 'Complete, no specimen'), # No
              (cases['v2_biospecimen_dt'] == 0) & (cases['v2_stat'] == 'Complete'), # Pending
              (cases['v2_biospecimen_dt'] == 0) & (cases['v2_stat'] == 'Pending'), # Unknown
              (cases['v2_stat'] == 'Not Applicable')]  # Not Applicable   

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v2_biospecimen_collected'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v2_biospecimen_collected'].value_counts())

Not Applicable    33
Yes               15
Unknown            6
No                 4
Name: v2_biospecimen_collected, dtype: int64

In [64]:
# V2 Biospecimen Processed
conditions = [((cases['v2_samples_process_dt'] != 0) & (cases['v2_stat'] == 'Complete')) |
              ((cases['v2_samples_process_dt'] != 0) & (cases['v2_stat'] == 'Pending')), # Yes
              (cases['v2_samples_process_dt'] == 0) & (cases['v2_stat'] == 'Complete, no specimen'), # No
              (cases['v2_samples_process_dt'] == 0) & (cases['v2_stat'] == 'Complete'), # Pending
              (cases['v2_samples_process_dt'] == 0) & (cases['v2_stat'] == 'Pending'), # Unknown
              (cases['v2_stat'] == 'Not Applicable')]  # Not Applicable
# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v2_biospecimen_processed'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v2_biospecimen_processed'].value_counts())

Not Applicable    33
Yes               11
Unknown            6
No                 4
Pending            4
Name: v2_biospecimen_processed, dtype: int64

In [65]:
# V2 Biospecimen Shipped
conditions = [((cases['v2_specimen_ship_dt'] != 0) & (cases['v2_stat'] == 'Complete')) |
              ((cases['v2_specimen_ship_dt'] != 0) & (cases['v2_stat'] == 'Pending')), # Yes
              (cases['v2_specimen_ship_dt'] == 0) & (cases['v2_stat'] == 'Complete, no specimen'), # No
              (cases['v2_specimen_ship_dt'] == 0) & (cases['v2_stat'] == 'Complete'), # Pending
              (cases['v2_specimen_ship_dt'] == 0) & (cases['v2_stat'] == 'Pending'), # Unknown
              (cases['v2_stat'] == 'Not Applicable')] # Not Applicable

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v2_biospecimen_shipped'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v2_biospecimen_shipped'].value_counts())

Not Applicable    33
Yes               11
Unknown            6
No                 4
Pending            4
Name: v2_biospecimen_shipped, dtype: int64

In [66]:
# EHR value counts
cases['v2_ehr_data_status'].value_counts()

0                 36
Yes (Complete)    21
No (Pending)       1
Name: v2_ehr_data_status, dtype: int64

In [67]:
# V2 EHR
conditions = [((cases['v2_ehr_data_status'] == 'Yes (Complete)') & ((cases['v2_stat'] == 'Complete') |
                                                                    (cases['v2_stat'] == 'Complete, no specimen') |
                                                                    (cases['v2_stat'] == 'Pending'))), # Complete
              ((cases['v2_ehr_data_status'] == 0) & ((cases['v2_stat'] == 'Complete') |
                                                     (cases['v2_stat'] == 'Complete, no specimen') |
                                                     (cases['v2_stat'] == 'Pending'))), # Pending
              (cases['v2_stat'] == 'Not Applicable')] # Not Applicable

# create a list of the values we want to assign for each condition
values = ['Complete', 'Pending', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v2_ehr'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v2_ehr'].value_counts())

Not Applicable    33
Complete          19
Pending            6
Name: v2_ehr, dtype: int64

In [200]:
# study visit 2 dataframe
v2_df = cases[['record_id', 'participant_type', 'v2_stat', 'v2_biospecimen_collected', 'v2_biospecimen_processed',
               'v2_biospecimen_shipped', 'v2_ehr']].copy()

v2_df['study_visit'] = 2

v2_df = v2_df.rename(columns={'v2_stat':'study_status', 'v2_biospecimen_collected':'biospecimen_collected',
                              'v2_biospecimen_processed':'biospecimen_processed', 'v2_biospecimen_shipped':'biospecimen_shipped',
                              'v2_ehr':'ehr'})

v2_df.head()

   record_id participant_type  ...             ehr study_visit
0          3   Non-Progressor  ...  Not Applicable           2
1          4   Non-Progressor  ...  Not Applicable           2
2          5   Non-Progressor  ...        Complete           2
3          6   Non-Progressor  ...        Complete           2
4          7       Progressor  ...        Complete           2

[5 rows x 8 columns]

# Study Visit 3

In [69]:
cases['v3_status'].value_counts()

Not applicable    48
0                  6
Completed          4
Name: v3_status, dtype: int64

In [70]:
# Status 3 complete based on conditions

conditions = [((cases['v3_status'] == 'Completed') & (cases['v3_biospecimen_dt'] != 0)) |
              ((cases['v3_status'] == 'Completed, but missed biospecimen collection') & (cases['v3_biospecimen_dt'] != 0)) |
              ((cases['v3_status'] == 0) & (cases['v3_biospecimen_dt'] != 0) & (cases['v3_samples_process_dt'] != 0)
              & (cases['v3_specimen_ship_dt'] != 0) & (cases['v3_entry_dt'] != 0)) |
              ((cases['v3_status'] == 'Completed') & (cases['v3_biospecimen_dt'] == 0)), # Complete
              ((cases['v3_status'] == 'Completed, but missed biospecimen collection') & (cases['v3_biospecimen_dt'] == 0)), # Complete, no specimen
              (cases['v3_status'] == 0) & ((cases['v3_biospecimen_dt'] == 0) | (cases['v3_samples_process_dt'] == 0) | 
                                           (cases['v3_specimen_ship_dt'] == 0) | (cases['v3_entry_dt'] == 0)), # Pending
              ((cases['v3_status'] == 'Not applicable')) & (cases['v3_biospecimen_dt'] == 0)] # Not Applicable

# create a list of the values we want to assign for each condition
values = ['Complete', 'Complete, no specimen', 'Pending', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v3_stat'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v3_stat'].value_counts())

Not Applicable    48
Pending            6
Complete           4
Name: v3_stat, dtype: int64

In [71]:
# biospecimen collected value counts
cases['v3_biospecimen_dt'].value_counts()

0            55
9/25/2020     1
7/14/2020     1
6/23/2020     1
Name: v3_biospecimen_dt, dtype: int64

In [72]:
# V3 Biospecimen Collected
conditions = [((cases['v3_biospecimen_dt'] != 0) & (cases['v3_stat'] == 'Complete')) |
              ((cases['v3_biospecimen_dt'] != 0) & (cases['v3_stat'] == 'Pending')), # Yes
              (cases['v3_biospecimen_dt'] == 0) & (cases['v3_stat'] == 'Complete, no specimen'), # No
              (cases['v3_biospecimen_dt'] == 0) & (cases['v3_stat'] == 'Complete'), # Pending
              (cases['v3_biospecimen_dt'] == 0) & (cases['v3_stat'] == 'Pending'), # Unknown
              (cases['v3_stat'] == 'Not Applicable')]  # Not Applicable   

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v3_biospecimen_collected'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v3_biospecimen_collected'].value_counts())

Not Applicable    48
Unknown            6
Yes                3
Pending            1
Name: v3_biospecimen_collected, dtype: int64

In [73]:
# V3 Biospecimen Processed
conditions = [((cases['v3_samples_process_dt'] != 0) & (cases['v3_stat'] == 'Complete')) |
              ((cases['v3_samples_process_dt'] != 0) & (cases['v3_stat'] == 'Pending')), # Yes
              (cases['v3_samples_process_dt'] == 0) & (cases['v3_stat'] == 'Complete, no specimen'), # No
              (cases['v3_samples_process_dt'] == 0) & (cases['v3_stat'] == 'Complete'), # Pending
              (cases['v3_samples_process_dt'] == 0) & (cases['v3_stat'] == 'Pending'), # Unknown
              (cases['v3_stat'] == 'Not Applicable')]  # Not Applicable
# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v3_biospecimen_processed'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v3_biospecimen_processed'].value_counts())

Not Applicable    48
Unknown            6
Yes                3
Pending            1
Name: v3_biospecimen_processed, dtype: int64

In [74]:
# V3 Biospecimen Shipped
conditions = [((cases['v3_specimen_ship_dt'] != 0) & (cases['v3_stat'] == 'Complete')) |
              ((cases['v3_specimen_ship_dt'] != 0) & (cases['v3_stat'] == 'Pending')), # Yes
              (cases['v3_specimen_ship_dt'] == 0) & (cases['v3_stat'] == 'Complete, no specimen'), # No
              (cases['v3_specimen_ship_dt'] == 0) & (cases['v3_stat'] == 'Complete'), # Pending
              (cases['v3_specimen_ship_dt'] == 0) & (cases['v3_stat'] == 'Pending'), # Unknown
              (cases['v3_stat'] == 'Not Applicable')] # Not Applicable

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v3_biospecimen_shipped'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v3_biospecimen_shipped'].value_counts())

Not Applicable    48
Unknown            6
Yes                3
Pending            1
Name: v3_biospecimen_shipped, dtype: int64

In [75]:
# EHR value counts
cases['v3_ehr_data_status'].value_counts()

0                 53
Yes (Complete)     3
No (Pending)       2
Name: v3_ehr_data_status, dtype: int64

In [76]:
# V3 EHR
conditions = [((cases['v3_ehr_data_status'] == 'Yes (Complete)') & ((cases['v3_stat'] == 'Complete') |
                                                                    (cases['v3_stat'] == 'Complete, no specimen') |
                                                                    (cases['v3_stat'] == 'Pending'))), # Complete
              ((cases['v3_ehr_data_status'] == 0) & ((cases['v3_stat'] == 'Complete') |
                                                     (cases['v3_stat'] == 'Complete, no specimen') |
                                                     (cases['v3_stat'] == 'Pending'))), # Pending
              (cases['v3_stat'] == 'Not Applicable')] # Not Applicable

# create a list of the values we want to assign for each condition
values = ['Complete', 'Pending', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v3_ehr'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v3_ehr'].value_counts())

Not Applicable    48
Pending            7
Complete           3
Name: v3_ehr, dtype: int64

In [201]:
# study visit 3 dataframe
v3_df = cases[['record_id', 'participant_type', 'v3_stat', 'v3_biospecimen_collected', 'v3_biospecimen_processed',
               'v3_biospecimen_shipped', 'v3_ehr']].copy()
               
v3_df['study_visit'] = 3

v3_df = v3_df.rename(columns={'v3_stat':'study_status', 'v3_biospecimen_collected':'biospecimen_collected',
                              'v3_biospecimen_processed':'biospecimen_processed', 'v3_biospecimen_shipped':'biospecimen_shipped',
                              'v3_ehr':'ehr'})

v3_df.head()

   record_id participant_type  ...             ehr study_visit
0          3   Non-Progressor  ...  Not Applicable           3
1          4   Non-Progressor  ...  Not Applicable           3
2          5   Non-Progressor  ...  Not Applicable           3
3          6   Non-Progressor  ...  Not Applicable           3
4          7       Progressor  ...        Complete           3

[5 rows x 8 columns]

# Study Visit 4

In [90]:
cases['v4_status'].value_counts()

Not applicable                                  28
Completed, but missed biospecimen collection    16
Completed                                        7
0                                                7
Name: v4_status, dtype: int64

In [91]:
# Status 4 complete based on conditions

conditions = [((cases['v4_status'] == 'Completed') & (cases['v4_samples_yn'] != 0)) |
              ((cases['v4_status'] == 'Completed, but missed biospecimen collection') & (cases['v4_samples_yn'] != 0)) |
              ((cases['v4_status'] == 0) & (cases['v4_samples_yn'] != 0) & (cases['v4_samples_process_dt'] != 0)
              & (cases['v4_specimen_ship_dt'] != 0) & (cases['v4_entry_dt'] != 0)) |
              ((cases['v4_status'] == 'Completed') & (cases['v4_samples_yn'] == 0)), # Complete
              ((cases['v4_status'] == 'Completed, but missed biospecimen collection') & (cases['v4_samples_yn'] == 0)), # Complete, no specimen
              (cases['v4_status'] == 0) & ((cases['v4_samples_yn'] == 0) | (cases['v4_samples_process_dt'] == 0) | 
                                           (cases['v4_specimen_ship_dt'] == 0) | (cases['v4_entry_dt'] == 0)), # Pending
              ((cases['v4_status'] == 'Not applicable')) & (cases['v4_samples_yn'] == 0)] # Not Applicable

# create a list of the values we want to assign for each condition
values = ['Complete', 'Complete, no specimen', 'Pending', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v4_stat'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v4_stat'].value_counts())

Not Applicable           28
Complete, no specimen    16
Pending                   7
Complete                  7
Name: v4_stat, dtype: int64

In [92]:
# biospecimen collected value counts
cases['v4_samples_yn'].value_counts()

0      52
Yes     6
Name: v4_samples_yn, dtype: int64

In [101]:
# V4 Biospecimen Collected
conditions = [((cases['v4_dt'] != 0) & (cases['v4_stat'] == 'Complete')) |
              ((cases['v4_dt'] != 0) & (cases['v4_stat'] == 'Pending')), # Yes
              (cases['v4_dt'] == 0) & (cases['v4_stat'] == 'Complete, no specimen'), # No
              (cases['v4_dt'] == 0) & (cases['v4_stat'] == 'Complete'), # Pending
              (cases['v4_dt'] == 0) & (cases['v4_stat'] == 'Pending'), # Unknown
              (cases['v4_stat'] == 'Not Applicable')]  # Not Applicable   

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v4_biospecimen_collected'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v4_biospecimen_collected'].value_counts())

Not Applicable    28
0                 16
Yes                7
Unknown            7
Name: v4_biospecimen_collected, dtype: int64

In [102]:
# V4 Biospecimen Processed
conditions = [((cases['v4_samples_process_dt'] != 0) & (cases['v4_stat'] == 'Complete')) |
              ((cases['v4_samples_process_dt'] != 0) & (cases['v4_stat'] == 'Pending')), # Yes
              (cases['v4_samples_process_dt'] == 0) & (cases['v4_stat'] == 'Complete, no specimen'), # No
              (cases['v4_samples_process_dt'] == 0) & (cases['v4_stat'] == 'Complete'), # Pending
              (cases['v4_samples_process_dt'] == 0) & (cases['v4_stat'] == 'Pending'), # Unknown
              (cases['v4_stat'] == 'Not Applicable')]  # Not Applicable
# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v4_biospecimen_processed'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v4_biospecimen_processed'].value_counts())

Not Applicable    28
No                16
Unknown            7
Yes                6
Pending            1
Name: v4_biospecimen_processed, dtype: int64

In [103]:
# V4 Biospecimen Shipped
conditions = [((cases['v4_specimen_ship_dt'] != 0) & (cases['v4_stat'] == 'Complete')) |
              ((cases['v4_specimen_ship_dt'] != 0) & (cases['v4_stat'] == 'Pending')), # Yes
              (cases['v4_specimen_ship_dt'] == 0) & (cases['v4_stat'] == 'Complete, no specimen'), # No
              (cases['v4_specimen_ship_dt'] == 0) & (cases['v4_stat'] == 'Complete'), # Pending
              (cases['v4_specimen_ship_dt'] == 0) & (cases['v4_stat'] == 'Pending'), # Unknown
              (cases['v4_stat'] == 'Not Applicable')] # Not Applicable

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v4_biospecimen_shipped'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v4_biospecimen_shipped'].value_counts())

Not Applicable    28
No                16
Unknown            7
Yes                6
Pending            1
Name: v4_biospecimen_shipped, dtype: int64

In [104]:
# EHR value counts
cases['v4_ehr_data_status'].value_counts()

0                 34
Yes (Complete)    23
No (Pending)       1
Name: v4_ehr_data_status, dtype: int64

In [105]:
# V4 EHR
conditions = [((cases['v4_ehr_data_status'] == 'Yes (Complete)') & ((cases['v4_stat'] == 'Complete') |
                                                                    (cases['v4_stat'] == 'Complete, no specimen') |
                                                                    (cases['v4_stat'] == 'Pending'))), # Complete
              ((cases['v4_ehr_data_status'] == 0) & ((cases['v4_stat'] == 'Complete') |
                                                     (cases['v4_stat'] == 'Complete, no specimen') |
                                                     (cases['v4_stat'] == 'Pending'))), # Pending
              (cases['v4_stat'] == 'Not Applicable')] # Not Applicable

# create a list of the values we want to assign for each condition
values = ['Complete', 'Pending', 'Not Applicable']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v4_ehr'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v4_ehr'].value_counts())

Not Applicable    28
Complete          23
Pending            7
Name: v4_ehr, dtype: int64

In [202]:
# study visit 4 dataframe
v4_df = cases[['record_id', 'participant_type', 'v4_stat', 'v4_biospecimen_collected', 'v4_biospecimen_processed',
               'v4_biospecimen_shipped', 'v4_ehr']].copy()
               
v4_df['study_visit'] = 4

v4_df = v4_df.rename(columns={'v4_stat':'study_status', 'v4_biospecimen_collected':'biospecimen_collected',
                              'v4_biospecimen_processed':'biospecimen_processed', 'v4_biospecimen_shipped':'biospecimen_shipped',
                              'v4_ehr':'ehr'})

v4_df.head()

   record_id participant_type  ...             ehr study_visit
0          3   Non-Progressor  ...  Not Applicable           4
1          4   Non-Progressor  ...  Not Applicable           4
2          5   Non-Progressor  ...        Complete           4
3          6   Non-Progressor  ...        Complete           4
4          7       Progressor  ...        Complete           4

[5 rows x 8 columns]

# Study Visit 5

In [119]:
cases['v5_status'].value_counts()

0                                               47
Completed                                        8
Completed, but missed biospecimen collection     2
Not completed                                    1
Name: v5_status, dtype: int64

In [170]:
# checking to see when v5 is due
#new_df = pd.read_csv('PRESCO data.csv')
from datetime import timedelta
cases['admitted'] = cases['es_consent_dt']
cases['admitted'] = pd.to_datetime(cases['admitted'])
cases['v5_due'] = cases['admitted'] + timedelta(days=104)
cases['v5_due'].head()

0   2020-09-09
1   2020-09-13
2   2020-09-16
3   2020-09-15
4   2020-09-15
Name: v5_due, dtype: datetime64[ns]

In [164]:
cases['overdue'] = np.where(cases['v5_due'] <= '2020-11-17', 'Yes', 'No')
cases['overdue'].value_counts()

No     35
Yes    23
Name: overdue, dtype: int64

In [166]:
# Status 5 complete based on conditions

conditions = [(((cases['v5_status'] == 'Completed') | (cases['v5_status'] == 'Completed, but missed biospecimen collection')) & (cases['v5_biospecimen_dt'] != 0)) |
              ((cases['v5_status'] == 0) & (cases['v5_biospecimen_dt'] != 0) & (cases['v5_samples_process_dt'] != 0)
              & (cases['v5_specimen_ship_dt'] != 0) & (cases['v5_entry_dt'] != 0)) |
              ((cases['v5_status'] == 'Completed') & (cases['v5_biospecimen_dt'] == 0)), # Complete
              ((cases['v5_status'] == 'Completed, but missed biospecimen collection') & (cases['v5_biospecimen_dt'] == 0)), # Complete, no specimen
              (cases['v5_status'] == 0) & ((cases['v5_biospecimen_dt'] == 0) | (cases['v5_samples_process_dt'] == 0) | 
                                           (cases['v5_specimen_ship_dt'] == 0) | (cases['v5_entry_dt'] == 0)) & (cases['overdue'] == 'Yes'), # Pending
              (cases['overdue'] == 'No'), # Not Due
              (cases['v5_status'] == 'Not completed')] # Not Completed

# create a list of the values we want to assign for each condition
values = ['Complete', 'Complete, no specimen', 'Pending', 'Not Due', 'Not Completed']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v5_stat'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v5_stat'].value_counts())

Not Due                  35
Pending                  12
Complete                  8
Complete, no specimen     2
Not Completed             1
Name: v5_stat, dtype: int64

In [167]:
# V5 Biospecimen Collected
conditions = [((cases['v5_biospecimen_dt'] != 0) & (cases['v5_stat'] == 'Complete')) |
              ((cases['v5_biospecimen_dt'] != 0) & (cases['v5_stat'] == 'Pending')), # Yes
              ((cases['v5_biospecimen_dt'] == 0) & (cases['v5_stat'] == 'Complete, no specimen')) |
              (cases['v5_stat'] == 'Not Completed'), # No
              (cases['v5_biospecimen_dt'] == 0) & (cases['v5_stat'] == 'Complete') & (cases['overdue'] == 'Yes'), # Pending
              (cases['v5_biospecimen_dt'] == 0) & (cases['v5_stat'] == 'Pending') & (cases['overdue'] == 'Yes'),
              (cases['overdue'] == 'No')] # Not Due  

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Due']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v5_biospecimen_collected'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v5_biospecimen_collected'].value_counts())

Not Due    35
Unknown    12
Yes         8
No          3
Name: v5_biospecimen_collected, dtype: int64

In [168]:
# V5 Biospecimen Processed
conditions = [((cases['v5_samples_process_dt'] != 0) & (cases['v5_stat'] == 'Complete')) |
              ((cases['v5_samples_process_dt'] != 0) & (cases['v5_stat'] == 'Pending')), # Yes
              ((cases['v5_samples_process_dt'] == 0) & (cases['v5_stat'] == 'Complete, no specimen')) |
              (cases['v5_stat'] == 'Not Completed'), # No
              (cases['v5_samples_process_dt'] == 0) & (cases['v5_stat'] == 'Complete') & (cases['overdue'] == 'Yes'), # Pending
              (cases['v5_samples_process_dt'] == 0) & (cases['v5_stat'] == 'Pending') & (cases['overdue'] == 'Yes'),
              (cases['overdue'] == 'No')] # Not Due  

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Due']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v5_biospecimen_processed'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v5_biospecimen_processed'].value_counts())

Not Due    35
Unknown    12
Yes         8
No          3
Name: v5_biospecimen_processed, dtype: int64

In [169]:
# V5 Biospecimen Shipped
conditions = [((cases['v5_specimen_ship_dt'] != 0) & (cases['v5_stat'] == 'Complete')) |
              ((cases['v5_specimen_ship_dt'] != 0) & (cases['v5_stat'] == 'Pending')), # Yes
              ((cases['v5_specimen_ship_dt'] == 0) & (cases['v5_stat'] == 'Complete, no specimen')) |
              (cases['v5_stat'] == 'Not Completed'), # No
              (cases['v5_specimen_ship_dt'] == 0) & (cases['v5_stat'] == 'Complete') & (cases['overdue'] == 'Yes'), # Pending
              (cases['v5_specimen_ship_dt'] == 0) & (cases['v5_stat'] == 'Pending') & (cases['overdue'] == 'Yes'),
              (cases['overdue'] == 'No')] # Not Due  

# create a list of the values we want to assign for each condition
values = ['Yes', 'No', 'Pending', 'Unknown', 'Not Due']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v5_biospecimen_shipped'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v5_biospecimen_shipped'].value_counts())

Not Due    35
Unknown    12
Yes         8
No          3
Name: v5_biospecimen_shipped, dtype: int64

In [171]:
cases['v5_ehr_data_status'].value_counts()

0                        50
Partial (In progress)     3
Yes (Complete)            3
No (Pending)              2
Name: v5_ehr_data_status, dtype: int64

In [182]:
# V5 EHR
conditions = [((cases['v5_ehr_data_status'] == 'Yes (Complete)') & ((cases['v5_stat'] == 'Complete') |
                                                                    (cases['v5_stat'] == 'Complete, no specimen') |
                                                                    (cases['v5_stat'] == 'Pending'))), # Complete
              (((cases['v5_ehr_data_status'] == 0) | (cases['v5_ehr_data_status'] == 'No (Pending)')) & ((cases['v5_stat'] == 'Complete') |
                                                     (cases['v5_stat'] == 'Complete, no specimen') |
                                                     (cases['v5_stat'] == 'Pending') |
                                                     (cases['v5_stat'] == 'Not Completed'))), # Pending
              (cases['v5_ehr_data_status'] == 'Partial (In progress)'), # Partial
              (cases['overdue'] == 'No')] # Not Due
              

# create a list of the values we want to assign for each condition
values = ['Complete', 'Pending', 'Partial', 'Not Due']

# create a new column and use np.select to assign values to it using our lists as arguments
cases['v5_ehr'] = np.select(conditions, values)

# display updated DataFrame
print(cases['v5_ehr'].value_counts())

Not Due     35
Pending     17
Partial      3
Complete     3
Name: v5_ehr, dtype: int64

In [203]:
# study visit 5 dataframe
v5_df = cases[['record_id', 'participant_type', 'v5_stat', 'v5_biospecimen_collected', 'v5_biospecimen_processed',
               'v5_biospecimen_shipped', 'v5_ehr']].copy()
               
v5_df['study_visit'] = 5

v5_df = v5_df.rename(columns={'v5_stat':'study_status', 'v5_biospecimen_collected':'biospecimen_collected',
                              'v5_biospecimen_processed':'biospecimen_processed', 'v5_biospecimen_shipped':'biospecimen_shipped',
                              'v5_ehr':'ehr'})

v5_df.head()

   record_id participant_type  ...      ehr study_visit
0          3   Non-Progressor  ...  Pending           5
1          4   Non-Progressor  ...  Partial           5
2          5   Non-Progressor  ...  Pending           5
3          6   Non-Progressor  ...  Pending           5
4          7       Progressor  ...  Pending           5

[5 rows x 8 columns]

# Merge Dataframes for Tableau

In [204]:
frames = [v1_df, v2_df, v3_df, v4_df, v5_df]

study_final_df = pd.concat(frames)

In [205]:
study_final_df.head()

   record_id participant_type  ...       ehr study_visit
0          3   Non-Progressor  ...  Complete           1
1          4   Non-Progressor  ...  Complete           1
2          5   Non-Progressor  ...  Complete           1
3          6   Non-Progressor  ...  Complete           1
4          7       Progressor  ...  Complete           1

[5 rows x 8 columns]

In [207]:
study_final_df.shape

(290, 8)

In [210]:
# csv for tableau
study_final_df.to_csv('presco_new_tableau.csv', index=None)